.chatBox {
	background-color: white;
	flex: 0.65;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.chatBox_top {
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgrey;
	background-color: rgba(245, 239, 239, 0.568);
}
.chatBoxTop_right {
	text-align: right;
	flex: 1;
	padding-right: 20px;
}
.chatBox_body {
	background-image: url("https://external-preview.redd.it/rEwFriCkfAtjOb5b-23b4tGGVcuvfaBqamYNJrgxnLM.png?auto=webp&s=f3bf0b5c90e4c5fda12ff2139781c854554fd198");
	background-repeat: repeat;
	background-position: center;
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: scroll;
	scrollbar-width: none;
}
.chatBox_body_bottom {
	display: flex;
	background-color: rgba(245, 239, 239, 0.568);
	margin-top: 5px;
	justify-content: space-between;
}
.chatBox_body_bottom >form {
	border: none;
	outline: none;
	margin-top: 5px;
	width: 90%;
	height: 70%;
}

.chatBox_body_bottom >form> input {
	border: none;
	outline: none;
	margin-top: 5px;
	width: 90%;
	border-radius: 3px;
	height: 70%;
}
